<div class="std-form__container sans">
	<h2>Help!</h2>
	<p class="text__center">We need your address. Fill out this form, ok?</p>
	<form action="https://getform.org/f/6f2bb205-6746-43ac-807d-26a5d7ec2387" method="POST">
		<section class="row">
			<p class="col-sm-3"><label for="std-form__name">Name</label></p>
			<p class="col-sm-9" ><input type="text" name="name" id="std-form__name" placeholder="Dominic Toretto"></input></p>
		</section>
		<section class="row">
			<p class="col-sm-3"><label for="std-form__name">Email</label></p>
			<p class="col-sm-9" ><input type="text" name="email" id="std-form__name" placeholder="fastnfurious@hotmail.com"></input></p>
		</section>
		<section class="row">
			<p class="col-sm-3"><label for="std=std-form__address">Address</label></p>
			<p class="col-sm-9"><textarea id="std-form__address" name="address"></textarea></p>
		</section>
		<section class="row">
			<p class="col-sm-9 col-sm-push-3 std-form__submit--container"><button type="submit">Submit</button></p>
		</section>
	</form>
</div>