<div class="std-form__container">
	<h2>Save the Date</h2>
	<p>Save the Dates will be sent out shortly. If you'd like one, please send us your address at your earliest convenience.</p>
	<form action="https://getform.org/f/6f2bb205-6746-43ac-807d-26a5d7ec2387" method="POST">
		<section class="col-xs-12">
			<p><label class="col-xs-6" for="std-form__name">Name</label></p>
			<p><input class="col-xs-6" type="text" name="name" id="std-form__name" placeholder="Dominic Toretto"></input></p>
		</section>
		<section class="col-xs-12">
			<p><label class="col-xs-6" for="std=std-form__address">Address</label></p>
			<p><textarea class="col-xs-6" id="std-form__address" name="address"></textarea></p>
		</section>
		<section class="col-xs-12">
			<button type="submit">Submit</button>
		</section>
	</form>
</div>