<div class="std-form__container">
	<form action="https://getform.org/f/6f2bb205-6746-43ac-807d-26a5d7ec2387" method="POST">
		<section>
			<label for="std-form__name">Your Name</label>
			<input type="text" name="name" id="std-form__name" placeholder="Dominic Toretto"></input>
		</section>
		<section>
			<label for="std=std-form__address">Address</label>
			<textarea id="std-form__address" name="address"></textarea>
		</section>
		<section>
			<button type="submit">Submit</button>
		</section>
	</form>
</div>