<div class="invitation">
  	<div class="invitation__intro">
        <p class="invitation__graph">You are joyfully invited</p>
	    <p class="invitation__graph">to the marriage ceremony of</p>
	</div>

	<div class="invitation__who">
        <p class="invitation__name pinyon">Greg Opperman</p>
	   	<p class="small pinyon">&amp;</p>
    	<p class="invitation__name amanda pinyon">Amanda Kidd Schall</p>
    </div>

    <p class="invitation__graph invitation__date">On Saturday, September the 16<sup>th</sup>, 2017 at 2PM</p>

    <div class="invitation__place">
        <p class="invitation__location">At the</p>
	    <p class="invitation__graph orange">Mill Street Yacht Club</p>
    	<p class="small invitation__anno">(our Home)</p>
    	<p class="invitation__graph">514 Mill Street</p>
    	<p class="invitation__graph">Worcester, Massachussetts</p>
    </div>
</div>