<section class="logistics">
	<h2>Getting Here</h2>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<h3><i class="fa fa-plane" aria-hidden="true"></i></h3>
				<ul class="logistics__list">
					<li><b>FLL &rarr; ORH:</b>
					<br/>Direct flights on <a href="https://www.google.com/#q=jetblue+FLL+to+ORH">JetBlue</a> from Fort Lauderdale to our doorstep.
					<li><b>Everywhere else:</b>
					<br />Fly into Boston
				</ul>
			</div>
			<div class="col-md-4">
				<h3><i class="fa fa-moon-o" aria-hidden="true"></i></h3>
				<ul class="logistics__list">
					<li><b>Courtyard Marriot</b>
					<br />72 Grove St, Worcester, Massachusetts
					<br /><a href="tel:5083630300">Call 508-363-0300</a> before August 15</a>
					<li><b><a href="https://www.airbnb.com/s/Worcester--MA--United-States/homes" target="_blank">We also recommend Air BnB</a></b>
			</div>
			<div class="col-md-4">
				<h3><i class="fa fa-car" aria-hidden="true"></i></h3>
				<ul class="logistics__list">
					<li><b>Transit</b>: We're working on arranging mass transportation to and from the hotel.
					<li><b>Parking:</b> There is ample street parking. Please avoid parking in front of 512 or 514 Mill Street.

			</div>
		</div>
	</div>
</section>