<section class="schedule">
	<div class="container-fluid">
		<div class="schedule__hed">
			<h2>Schedule of Events</h2>
			<p>More details to come</p>
		</div>
		<div class="row">
			<div class="col-sm-6 schedule__day">
				<h3>Friday, September 15th</h3>
			</div>
			<div class="col-sm-6">
				<ul>
					<li>Rehearsal Dinner
					<li>Drinks		
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 schedule__day">
				<h3>Saturday, September 16th</h3>
			</div>
			<div class="col-sm-6">
				<ul>
					<li>Ceremony
					<li>Reception
					<li>After Party		
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 schedule__day">
				<h3>Sunday, September 17th</h3>
			</div>
			<div class="col-sm-6">
				<ul>
					<li>Brunch
					<li>StArt on the Street
					<li>Departure		
				</ul>
			</div>
		</div>
	</div>
</section>