$module: 'home';

.#{$module} {
	&__header {
		background: url(img/engagement.jpg) no-repeat center center fixed,linear-gradient(45deg,#999,#666);
 		background-blend-mode: multiply, multiply;
 		background-size: cover, cover;

		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100vw;
		height: 95vh;

 		color: $white;
		text-align: center;

		h1 {
			font-size: 5em;
		}
	}
}
