$module: 'home';

.#{$module} {
	&__header {
/*		background: url(img/chuglife.jpg) no-repeat center center fixed,linear-gradient(45deg,#999,#666);
 		background-blend-mode: multiply, multiply;
 		background-size: cover, cover;

		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100vw;
		height: 90vh;*/

 		color: $white;
		text-align: center;
	}
	/** Temporary garbage */
	h1 {
		margin: -35vh 0 40vh;
		font-size: 80px;
	}

	.container-fluid {
		max-width: 600px;
		background: rgba(255,255,255,.9);
		border-radius: 20px;
	}
}
