/**
 * Colors
 */
$white: #fff;
$black: #222;
$blue:	#06677F;
$green: #3A5450;
$darkgreen: #283A38;
$lightblue: #A9B4BA;
$orange: #963212;
$pink: #E8C9C7;
$red: #791D00;
$purple: #614C61;
$gray: #43615C;
$mid-green: #5FA096;
$green-gray: #7FA09B;