---
layout: default
---

<div class="home">
  <main>
    {% include home-header.html %}
    {% include schedule.html %}
    {% include logistics.html %}
    {% include registry.html %}
  </main>
 <!-- <main class="container-fluid">
    <div id="invitation-2">
      <div class="invitation__text">
        <p>You are cordially invited...</p>
        <p>Greg Opperman<br />&amp;<br />Amanda Kidd Schall</p>
        <p>on</p>
        <p>Saturday, September the 16<sup>th</sup>, 2017</p>
        <p>At the Mill Street Yacht Club</p>
        <p class="small">(our Home)</p>
        <p>514 Mill Street</p>
        <p>Worcester, Massachussetts</p>
      </div>
    </div>
  </main>-->

  <div class="footer__image">
    <h2 class="sacramento">See you Soon</h2>
  </div>
  {% include footer.html %}
</div>
